*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.main-container {
  display: inline-block;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.row {
  display: flex;
}

.cell {
  width: 25px;
  height: 25px;
  border-top: 1px solid lightgray;
  border-left: 1px solid lightgray;
}